@{
    ViewBag.Title = "Contact";
}


<address>
    <br />
    <br />
    <br />
    <div color="ffffff">
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    </div>

</address>